@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Lora&family=Manrope:wght@300;600&display=swap');
/*font-family: 'Fredoka', sans-serif;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Manrope', sans-serif;*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

body {
    /*badge*/
    /*background-color: #c05203;*/
    /*blue*/
    /*background-color: #679b9b;*/
    /*!*gray*!*/
    /*background-color: #637373;*/
    /*!*orange*!*/
    /*background-color: #ff9a76;*/
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    font-size: 1.5rem;
}

aside {
    position: relative;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    gap: 40px;
    padding-right: 2%;
    text-align: right;
    z-index: 3;
}

.aside-container {
    position: sticky;
    top: 0;
    left: 0;
}

.aside-down {
    background-color: #679b9b;
    width: 30vw;
    height: 40px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}


.aside-min {
    position: relative;
    display: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.aside-btn {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
    cursor: pointer;
    border-top: 1px solid #637373;
}

.dl-icon {
    display: flex;
}

.aside-btn a {
    display: block;
    padding: 10px;
    /*margin-bottom: 10px;*/
    background-color: #fff;
    color: #637373;
    transition: background-color 0.3s, color 0.3s;
}

.aside-btn a:hover {
    background-color: #637373;
    color: #ff9a76;
}

.min-img {
    max-width: 200px;
    max-height: 250px;
    position: relative;
    width: 40%;
    min-width: 170px;
    border-radius: 5%;
    box-shadow: -20px -20px 0 #637373;
    margin-right: 20px;
}

.small-text {
    font-weight: lighter;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.en-de {
    display: block;
    margin-left: 10px;
    width: 40px;
    height: 30px;
    background-color: #637373;
    border: 1px solid #fff;
    cursor: pointer;
    text-align: center;
    padding: 3px;
}

.en-de > a {
    color: #fff;
}

.en-de:hover {
    background-color: #ff9a76;
}

h1 {
    margin: 10px 0;
    font-weight: normal;
    font-size: 2.5rem;
    color: #679b9b;
}

.profile-img {
    position: relative;
    width: 40%;
    min-width: 170px;
    border-radius: 5%;
    box-shadow: 20px 20px 0 #679b9b;
    margin-right: 20px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav {
    height: 70px;
    width: 100%;
    background-color: #637373;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    margin-right: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    color:#ff9a76;
}

.nav > #nav-check {
    display: none;
    height: 70px;
}


main {
    width: 70vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;
}

.header-container {
    background-image: url('img/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.55);
    color: black;
    height: 90%;
    width: 70%;
    margin-left: 20px;
}

.h-text {
    display: flex;
    justify-content: center;
    vertical-align: center;
    line-height: 40px;
    padding: 0 15px;
}

h2 {
    font-weight: normal;
    padding: 0 15px;
}

.experience, .projekte {
    height: 49vh;
}


.experience h2 {
    display: flex;
}

.exp-text {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #637373;
    margin: 0 auto;
    line-height: 40px;
}

.experience-h {
    color: #fff;
}