@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Lora&family=Manrope:wght@300;600&display=swap');
/*font-family: 'Fredoka', sans-serif;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Manrope', sans-serif;*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    transition: scroll 0.3s ease;
    /*background-color: #f0f0f0; !* Light gray background color *!*/
}

a {
    color: #ffffff;
}

a:hover {
    color: #ff9a76;
}

aside {
    position: relative;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    gap: 40px;
    padding-right: 2%;
    text-align: right;
    z-index: 3;
}

.aside-container {
    position: sticky;
    top: 0;
    left: 0;
}

.aside-down {
    background-color: #679b9b;
    width: 30vw;
    height: 40px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}


.aside-min {
    position: relative;
    display: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.aside-btn {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
    cursor: pointer;
    border-top: 1px solid #637373;
}

.dl-icon {
    display: flex;
}

.aside-btn a {
    display: block;
    padding: 10px;
    /*margin-bottom: 10px;*/
    background-color: #fff;
    color: #637373;
}

.aside-btn a:hover {
    background-color: #637373;
    color: #ff9a76;
}

.min-img {
    max-width: 200px;
    max-height: 250px;
    position: relative;
    width: 40%;
    min-width: 170px;
    border-radius: 5%;
    box-shadow: -20px -20px 0 #637373;
    margin-right: 20px;
}

.small-text {
    font-weight: lighter;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.en-de {
    display: block;
    margin-left: 10px;
    width: 40px;
    height: 30px;
    background-color: #637373;
    border: 1px solid #fff;
    cursor: pointer;
    text-align: center;
    padding: 3px;
}

.en-de > a {
    color: #fff;
}

.en-de:hover {
    background-color: #ff9a76;
}

h1 {
    margin: 10px 0;
    font-weight: normal;
    font-size: 2.5rem;
    color: #679b9b;
}

.profile-img {
    position: relative;
    width: 40%;
    min-width: 170px;
    border-radius: 5%;
    box-shadow: 20px 20px 0 #679b9b;
    margin-right: 20px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 101;
}

.nav {
    height: 70px;
    width: 100%;
    background-color: #637373;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    margin-right: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    color:#ff9a76;
}

.nav > #nav-check {
    display: none;
    height: 70px;
}


main {
    width: 70vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

#exp,
#pro{
    height: 7vh;
}


.header-container {
    background-image: url('img/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.55);
    color: black;
    height: 90%;
    width: 70%;
    margin-left: 20px;
}

.h-text {
    display: flex;
    justify-content: center;
    vertical-align: center;
    line-height: 40px;
    padding: 0 15px;
}

h2 {
    font-weight: normal;
    padding: 0 15px;
}

.experience h2 {
    display: flex;
}

.projekte h2{
    background-color: #fff;
}

.exp-text {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #637373;
    margin: 0 auto;
    gap: 10%;
    line-height: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-h {
    color: #fff;
}

.zum-projekt-link {
    background-color: #ff9a76;
    padding: 0.6%;
    color: #fff;
    font-size: 1rem;
}

.zum-projekt-link:hover {
    color: #000;
}

.projekte {

}

.projekt-cat {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.projekt-cat h3{
    position: absolute;
    right: 20px;
    top: 80px;
    color: #ff9a76;
    padding: 10px 5%;
    background-color: #679b9b;
    text-align: right;
    z-index: 100;
}

.tecInfo {
}

.tecInfo,
.web-programmierung,
.computergrafik {
    margin-top: 20px;
    padding: 20px;
    position: relative;
}

.tecInfo-text {
    display: flex;
    flex-direction: column;
}

.tecInfo-header {
    display: flex;
    gap: 1%;
    /*justify-content: space-between;*/
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
    border-top: #679b9b 1px solid;
}

.tecInfo-header h4 {
    margin: 0;
}

.tecInfo-header h4 a
{
    color: #000;
}

.tecInfo-header h4 a:hover
{
    color: #ff9a76;
}

.tecInfo-header small {
    color: #777;
}

.tecInfo-links,
.cg-links{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin: 20px 0;
}

.tecInfo-links a ,
.cg-links a{
    color: #679b9b;
    text-decoration: none;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.tecInfo-links a:hover{
    color: #000;
    text-shadow: 1px 1px #fff;
    background-image: url("img/bg3.png");
}

.cg-links a:hover {
    color: #000;
    text-shadow: 1px 1px #fff;
}

.web-programmierung p,
.computergrafik p {
    margin-bottom: 10px;
    color: #555;
}

.web-programmierung a,
.computergrafik a {
    color: #679b9b;
    text-decoration: none;
}

.web-programmierung a:hover,
.computergrafik a:hover {
    color: #ff9a76;
}

.cg-a1:hover {
    background-image: url("img/w1.png");
    background-size: cover;
}

.cg-a2:hover {
    background-image: url("img/ufo.png");
    background-size: cover;
}

.cg-a3:hover {
    background-image: url("img/w2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cg-a4:hover {
    background-image: url("img/schatten.png");
    background-size: cover;
}

.cg-a5:hover {
    background-image: url("img/w3.png");
    background-size: cover;
}

.cg-a6:hover {
    background-image: url("img/w4.png");
    background-size: cover;
}

.cg-a7:hover {
    background-image: url("img/w5.png");
    background-size: cover;
}

.cg-a8:hover {
    background-image: url("img/kugel.png");
    background-size: cover;
}

.cg-a9:hover {
    background-image: url("img/kugel1.png");
    background-size: cover;
}

.cg-a10:hover {
    background-image: url("img/w6.png");
    background-size: cover;
}

.cg-a11:hover {
    background-image: url("img/tower.png");
    background-size: cover;
}

.cg-a12:hover {
    background-image: url("img/kugel2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cg-a13:hover {
    background-image: url("img/kugel3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.md-img img{
    width: 70%;
    margin: 3% 0;
}

.web-image {
    width: 100%;
    display: flex;
}

.web-image img {
    width: 40%;
    margin-right: 2%;
    margin-top: 2%;
}

.mail-section {
    background-image: url("img/bg3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80vh;
    margin: 10% 0;
}

.contact-container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: #637373;
    font-size: 20px;
    padding-top: 25px;
    text-align: center;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    font-size: 15px;
}

.contact-left textarea {
    height: 140px;
    font-size: 15px;
    padding-top: 10px;
}

.contact-inputs:focus,
.contact-left textarea:focus {
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.53);
}

.contact-left button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid rgba(99, 115, 115, 0);
    color: #637373;
}

.contact-left button:hover {
    color: #000;
    border: 1px solid #637373;
}

#footer {
    width: 100%;
    height: 15vh;
    background-color: #637373;
    z-index: 50;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#js, #java, #php, #py {
    padding-top: 5%;
    color: #fff;
}

